<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form action="add/" method="get">
    <input type="text" name="number1" placeholder="number1">
    <input type="text" name="number2" placeholder="number2">
    <input type="submit" value="sumresult">
</form>
<form action="diff/" method="get">
    <input type="text" name="number1" placeholder="number1">
    <input type="text" name="number2" placeholder="number2">
    <input type="submit" value="difference"></form>
<form action="mul/" method="get">
    <input type="text" name="number1" placeholder="number1">
    <input type="text" name="number2" placeholder="number2">
    <input type="submit" value="product"></form>
<form action="quo/" method="get">
    <input type="text" name="number1" placeholder="number1">
    <input type="text" name="number2" placeholder="number2">
    <input type="submit" value="quotient"></form>
</body>
</html>